# Build outputs
Debug/
Release/
build/
out/

# CubeIDE/Eclipse junk
.metadata/
*.launch
.settings/
*.log

# Compiler outputs
*.o
*.d
*.elf
*.bin
*.hex
*.map
*.list
*.srec
*.su

# OS junk
.DS_Store
Thumbs.db
